.thumbnail {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* border: 1px solid black; */
}

/* .thumbnail {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 250px;
} */

/* .column-4 {
  float: left;
  width: 21%;
  padding: 10px;
  margin:20px;
  height: 250px;
} */
